@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&family=Space+Grotesk:wght@300..700&display=swap');
body{
	font-family: "Slabo 27px", serif;
	color: #6699ff;
  margin: 0;
}
header{
  text-align: center;
}

h1, h2, h3{
	font-family: "Space Grotesk", sans-serif;
	color: #2eb8b8;
}

                              /* Images */
.home-hero{
  background-image: url(images/header.jpg);
  height: 475px;
  background-size: cover;
  background-position: center;
  color: limegreen;
  padding: 10px 10px 10px 30px;
}                            
img{
  display: block;
  margin: 0 auto;
}




                              /* Website Links except the nav */

a:link{
  color: #b300b3;
}
a:visited{
  color: #b300b3;
}
a:hover{
  color: blue;
}
a:active{
  color: black;
}


                                /* Style FA Class */
.fa{

}
footer .fa{
  font-size: 4em;
  color: limegreen;
}



                                /* Navigation */
nav{
  background-color: fuchsia;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 5px;
}

nav ul{
  list-style-type: none;
  text-align: center;
  margin: 8px 0;
  padding: 0;
}
nav li{
  display: inline;
  padding: 5px;
}
nav a{
  text-decoration: none;
}
nav a:link{
  color: white;
}
nav a:visited{
  color: white;
}
nav a:hover{
  color: lightgray;
}
nav a:active{
  color: gray;
}

                                        /*Main */
main{
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
}

blockquote{
  background-color: lightgray;
  border-left: 5px solid limegreen;
  border-top: 5px solid limegreen;
  border-bottom: 5px solid  fuchsia;
  border-right: 5px solid fuchsia;
  font-size: 20px;
  padding: 5px;
}
p{
  text-align: center;
}



footer{                                 /*Footer*/
  border-top: black 3px solid;
  text-align: center;
  background-color: fuchsia;
  margin: 0px;
  padding: 10px;

}
                                        /*CSS without the media query--applies to all sizes unless overwritten*/
h1{
  font-size: 4em;
}                                    

                                        /*CSS ajustments for tablets*/
@media only screen and (max-width: 1024px) {
  h1{
    font-size: 2em;
  }
}

                                        /*CSS ajustments for smartphones*/
@media only screen and (max-width: 768px) {
  h1{
    font-size: 1.5em;
  }
}                                    








/*CSS without a media query--applies to all sizes unless overridden*/
h1{
    font-size: 4em;
 }
/* CSS Adjustments for Tablets */
@media only screen and (max-width: 1024px) {
  h1{
    font-size: 1.8em;
}
}
/* CSS Adjustments for Smartphones */